@import "../../../vendors/variables";
@import "../../../vendors/mixins";
.testimonial {
  padding: 50px 0px;
  .comment {
    @include flexCenter;
    flex-direction: column;
    gap: 20px;
    img {
      border-radius: 50%;
      transform: scale(0.9);
      cursor: pointer;
      &:hover {
        transform: scale(1);
      }
    }
    .comment-content {
      text-align: center;
      @include flexCenter;
      flex-direction: column;
      h1 {
        margin-bottom: 20px;
        color: $black;
        font-family: $second-font;
        font-weight: 100;
        max-width: 73%;
        @media (max-width: 767px) {
          max-width: 98%;
        }
      }
      h4 {
        color: $main-gray;
        font-family: $second-font;
        font-weight: 500;
      }
    }
  }
}
