@import "../../../vendors/variables";
@import "../../../vendors/mixins";

.gift {
  margin: 50px 0px;
  background-color: $lightgray;
  padding: 50px 0px;
  .gift-part {
    display: flex;
    gap: 10px;
    @media (max-width: 878px) {
      flex-direction: column;
      @include flexCenter;
    }
    .left-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 25px;
      @media (max-width: 878px) {
        align-items: center;
        text-align: center;
      }
      h1 {
        color: $black;
        font-family: $second-font;
        font-weight: 100;
        font-size: 40px;
      }
      p {
        max-width: 70%;
        color: $main-gray;
        font-family: $font-family;
        font-weight: 500;
      }
      button {
        color: $white;
        text-transform: uppercase;
        padding: 13px 25px;
        border: none;
        background-color: $main-gray;
        cursor: pointer;
      }
    }
    .right-side {
      width: 100%;
      @media (max-width: 878px) {
        width: 80%;
      }
      img {
        width: 100%;
      }
    }
  }
}
